<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wpc.mapper.UserMapper">

    <resultMap id="BaseResultMap" type="com.wpc.bean.User">
        <result property="id" column="id" jdbcType="BIGINT"></result>
        <result property="name" column="name" jdbcType="VARCHAR"></result>
        <result property="createTime" column="create_time" jdbcType="DATE"></result>
    </resultMap>

    <select id="list" resultType="com.wpc.bean.User" useCache="true">
        select * from t_user limit #{page},#{size}
    </select>

    <select id="query" resultMap="BaseResultMap">
        select * from t_user where id = #{id}
    </select>

    <insert id="insert">
        insert into t_user (name,create_time) values (#{name}, #{createTime})
    </insert>

    <update id="update" keyProperty="id" useGeneratedKeys="true">
        update t_user set name = #{name},create_time = #{createTime} where id = #{id}
    </update>

    <delete id="delete">
        delete from t_user where id = #{id}
    </delete>

</mapper>
